{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@tests": "./__tests__",
        "@pages": "./js/pages",
        "@components": "./js/components",
        "@utils": "./js/utils",
        "@navigators": "./js/navigators",
        "@model": "./js/model",
        "@services": "./js/services",
        "@mock": "./js/mock",
      },
      "extensions": [".js", ".ios.js", ".android.js"]
    }]
  ]
}
